.dot {
  height: 29px;
  width: 29px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  align-items: center;
}
.dot-green {
  height: 29px;
  width: 29px;
  background-color: #2ecc71;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  align-items: center;
}